<% if post.highlighted? %>
<div class="post highlight">
<% else %>
<div class="post">
<% end %>
	<div class="metainfo">
		<p>
			<%= avatar_tag(post.feed) %>
            <br />
			Publicado en
			<br />
			<% if post.feed.url %>
			<%= link_to post.feed.name, post.feed.url %>
			<% elsif post.permalink %>
			<%= link_to post.feed.name, post.permalink %>
			<% end %>
			<br />
			<%= post.date_published.strftime("%d-%m-%Y %H:%M") %>
		</p>
	</div>
	
	<div class="content">
		<h2><%= link_to post.title, post.permalink %></h2>
		<%= post.body %>
	</div>
</div>
