<div id="nicemenu" class="grid_16">
	<ul>
		<li>
			<span class="head_menu"><a href="/admin/feeds">Feeds</a>
			<img src="/images/admin/arrow.png" width="18" height="15" align="top" class="arrow" />
			</span>

			<div class="sub_menu">
				<%= link_to 'All', admin_feeds_url() %>
				<%= link_to 'Published', admin_feeds_url(:published => true) %>
				<%= link_to 'Banned', admin_feeds_url(:banned => true) %>
			</div>
			
		</li>

		<li>
			<span class="head_menu"><a href="/admin/feed_posts">Historias</a>
		</li>
		
		<li><span class="head_menu"><a href="/account">Settings</a>
			<img src="/images/admin/arrow.png" width="18" height="15" align="top" class="arrow" />
			</span>
			<div class="sub_menu">
				<%= link_to 'Preferences', edit_admin_planet_url(Planet.find(:first)) %>
				<%= link_to 'User account', edit_admin_user_url(current_user) %>
			</div>
		</li>
	</ul>
</div>

<div class="clear">&nbsp;</div>	