<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<!-- This template can be downloaded from www.openwebdesign.org. Just search for neuphoric -->
<!-- This template has been modified by mejobloggs (http://www.openwebdesign.org/userinfo.phtml?user=mejobloggs) -->
<!-- Please use this template according to the license on the original template (included as pleaseread.txt) -->
<!-- The original of this template was designed by http://www.tristarwebdesign.co.uk - please visit for more templates & information - thank you. -->

<head>
	<title>Planeta Málaga</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>

<body id="altbody">

<div id="wrapper-header">
	<div id="header">
		<h1>Planeta Málaga</h1>
	</div>
</div>

<div id="wrapper-menu">
	<div id="menu">
		<ul>
			<li><%= link_to 'Historias', '/' %></li>
			<li><%= link_to 'Acerca de', page_path('about') %></li>
			<li><%= link_to 'Contacto', page_path('contact') %></li>
		</ul>
	</div>
</div>

<div id="content">

  <%= yield %>

</div>

<div id="footer">
	original design by <a title="derby web design" href="http://www.tristarwebdesign.co.uk">tri-star web design</a>
</div>

<%= render :partial => 'shared/statcounter' %>

</body>

</html>